@import "tailwindcss";

@theme{
  --color-background-color: var( --background-color);
  --color-elements-background-color: var(--elements-background-color);
  --color-text-input: var(--text-input);
  --color-text-color: var(--text-color);
  --breakpoint-2xl: 59rem;
  --breakpoint-3xl: 84rem;
}


:root {
  --background-color: hsl(0, 0%, 99%);
  --elements-background-color: hsl(0, 100%, 100%);
  --text-input: hsl(0, 0%, 50%);
  --text-color: hsl(200, 15%, 8%);
  
}

.dark{
  --background-color : hsl(207, 26%, 17%);
  --elements-background-color: hsl(209, 23%, 22%);
  --text-input: hsl(0, 0%, 50%);
  --text-color: hsl(0, 100%, 100%);
}